body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

:root {
  --panel-colour: #9ccbd9;
  --item-colour: #b3b5b4;
  --alt-item-colour: #99b6a7;
  --border-colour: grey;
  --text-light: white;
  --text-dark: black;
  --button-colour: #80a1e8;
  --selected-colour: #2424c7;
  --auth-container-colour: #e5f2dc;
  --text-error: red;
  --text-form: #4f4e4e;
}