body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

:root {
  --background-colour: #e0ebeb;
  --panel-colour: #5dacbd;
  --item-colour: #a7bcb9;
  --alt-item-colour: #99b6a7;
  --border-colour: grey;
  --text-light: #e0ebeb;
  --text-dark: black;
  --button-colour: #4b8ac1;
  --button-hover: #599ad2;
  --button-border-colour: #005096;
  --button-active-hover: #7777f4;
  --selected-colour: #2424c7;
  --item-hover-colour: #2c72c8;
  --auth-container-colour: #e5f2dc;
  --text-error: red;
  --text-form: #4f4e4e;
  --header-color: #5d84bd;
  
  --text-xs: 12px;
  --text-sm: 14px;
  --text-md: 16px;
  --text-lg: 18px;
  --text-xl: 20px;
  --text-2x: 22px;
  --text-3x: 24px;
  --text-4x: 26px;
  --text-5x: 28px;
  --text-6x: 30px;
  --text-7x: 32px;
}